<section class="feed block">
	<div class="feed__row">	
		<%= render "components/profile-picture" %>	
		<%= render "components/add" %>
	</div>
	<div class="feed__row">	
		<%= render "components/profile-picture" %>	
		<%= render "components/tilt" %>
	</div>
	<div class="feed__row">	
		<%= render "components/profile-picture" %>	
		<%= render "components/tilt" %>
	</div>
	<div class="feed__row feed__row--with-reply">	
		<%= render "components/profile-picture" %>	
		<%= render "components/tilt" %>
	</div>
	<div class="feed__row">	
		<%= render "components/profile-picture" %>	
		<%= render "components/tilt" %>
	</div>
	<div class="feed__row">	
		<%= render "components/profile-picture" %>	
		<%= render "components/tilt" %>
	</div>
</section>