<section class="main-container">


  <!-- Render on sign in page -->
  <% if current_page?('/users/sign_in') %>
    <%= render "components/signin" %>
  <% end %>

  <!-- Render on sign up page -->
  <% if current_page?('/users/sign_up') %>
    <%= render "components/signup" %>
  <% end %>

  <!-- Render this on all /users path (except settings) -->
  <div class="block figures">

    <div class="figures__item figures__item--isactive">
      <a href="#">
        <p class="figures__numbers">1689</p>
        <p class="figures__description">TILTS</p>
      </a>
    </div>

    <div class="figures__item">
      <a href="#">
        <p class="figures__numbers">355</p>
        <p class="figures__description">FOLLOWING</p>
      </a>
    </div>

    <div class="figures__item">
      <a href="#">
        <p class="figures__numbers">1337</p>
        <p class="figures__description">FOLLOWERS</p>
      </a>
    </div>

    <div class="figures__item">
      <a href="#">
        <p class="figures__numbers">1800</p>
        <p class="figures__description">LIKES</p>
      </a>
    </div>

  </div>

  <!-- end -->

  <!-- Render this on homepage + single tilt page + users/show + users/likes -->
  <% if current_page?('/') %>
    <%= render "components/feed" %>
  <% end %>
  <!-- end -->

  <!-- Render on users/following and users/followers -->

    <div class="profiles">
      <%= render :partial => "components/profile-overview", locals: {class_small: 'profile-overview--small'} %>
      <%= render :partial => "components/profile-overview", locals: {class_small: 'profile-overview--small'} %>
      <%= render :partial => "components/profile-overview", locals: {class_small: 'profile-overview--small'} %>
      <%= render :partial => "components/profile-overview", locals: {class_small: 'profile-overview--small'} %>
      <%= render :partial => "components/profile-overview", locals: {class_small: 'profile-overview--small'} %>
      <%= render :partial => "components/profile-overview", locals: {class_small: 'profile-overview--small'} %>
      <%= render :partial => "components/profile-overview", locals: {class_small: 'profile-overview--small'} %>
      <%= render :partial => "components/profile-overview", locals: {class_small: 'profile-overview--small'} %>
    </div>

  <!-- END -->

</section>
