<section class="block mutual-follow">

  <p class="mutual-follow__title"><%= embedded_svg('icons/user.svg') %><span>23 Tilters you know</span></p>

  
  <!-- show only ten users randomly -->
  <div class="mutual-follow__users">

    <div class="mutual-follow__user">
      <a href="#" class="mutual-follow__picture">
        <%= image_tag("default_avatar.png") %>
      </a>
    </div>

    <div class="mutual-follow__user">
      <a href="#" class="mutual-follow__picture">
        <%= image_tag("default_avatar.png") %>
      </a>
    </div>

    <div class="mutual-follow__user">
      <a href="#" class="mutual-follow__picture">
        <%= image_tag("default_avatar.png") %>
      </a>
    </div>

    <div class="mutual-follow__user">
      <a href="#" class="mutual-follow__picture">
        <%= image_tag("default_avatar.png") %>
      </a>
    </div>

    <div class="mutual-follow__user">
      <a href="#" class="mutual-follow__picture">
        <%= image_tag("default_avatar.png") %>
      </a>
    </div>

    <div class="mutual-follow__user">
      <a href="#" class="mutual-follow__picture">
        <%= image_tag("default_avatar.png") %>
      </a>
    </div>

    <div class="mutual-follow__user">
      <a href="#" class="mutual-follow__picture">
        <%= image_tag("default_avatar.png") %>
      </a>
    </div>

    <div class="mutual-follow__user">
      <a href="#" class="mutual-follow__picture">
        <%= image_tag("default_avatar.png") %>
      </a>
    </div>

    <div class="mutual-follow__user">
      <a href="#" class="mutual-follow__picture">
        <%= image_tag("default_avatar.png") %>
      </a>
    </div>

    <div class="mutual-follow__user">
      <a href="#" class="mutual-follow__picture">
        <%= image_tag("default_avatar.png") %>
      </a>
    </div>

  </div>

</section>
