<section class="block mutual-follow widgets-sidebar">

  <p class="widgets-sidebar__title"><%= embedded_svg('icons/user.svg') %><span>23 Tilters you know</span></p>


  <!-- show only ten users randomly -->
  <ul class="widgets-sidebar__items">

    <li class="widgets-sidebar__item widgets-sidebar__item--isuser">
      <a href="#" class="widgets-sidebar__picture">
        <%= image_tag("default_avatar.png") %>
      </a>
    </li>

    <li class="widgets-sidebar__item widgets-sidebar__item--isuser">
      <a href="#" class="widgets-sidebar__picture">
        <%= image_tag("default_avatar.png") %>
      </a>
    </li>

    <li class="widgets-sidebar__item widgets-sidebar__item--isuser">
      <a href="#" class="widgets-sidebar__picture">
        <%= image_tag("default_avatar.png") %>
      </a>
    </li>

    <li class="widgets-sidebar__item widgets-sidebar__item--isuser">
      <a href="#" class="widgets-sidebar__picture">
        <%= image_tag("default_avatar.png") %>
      </a>
    </li>

    <li class="widgets-sidebar__item widgets-sidebar__item--isuser">
      <a href="#" class="widgets-sidebar__picture">
        <%= image_tag("default_avatar.png") %>
      </a>
    </li>

    <li class="widgets-sidebar__item widgets-sidebar__item--isuser">
      <a href="#" class="widgets-sidebar__picture">
        <%= image_tag("default_avatar.png") %>
      </a>
    </li>

    <li class="widgets-sidebar__item widgets-sidebar__item--isuser">
      <a href="#" class="widgets-sidebar__picture">
        <%= image_tag("default_avatar.png") %>
      </a>
    </li>

    <li class="widgets-sidebar__item widgets-sidebar__item--isuser">
      <a href="#" class="widgets-sidebar__picture">
        <%= image_tag("default_avatar.png") %>
      </a>
    </li>

    <li class="widgets-sidebar__item widgets-sidebar__item--isuser">
      <a href="#" class="widgets-sidebar__picture">
        <%= image_tag("default_avatar.png") %>
      </a>
    </li>

    <li class="widgets-sidebar__item widgets-sidebar__item--isuser">
      <a href="#" class="widgets-sidebar__picture">
        <%= image_tag("default_avatar.png") %>
      </a>
    </li>

  </ul>

</section>
