<section class="block mutual-follow widgets-sidebar">

  <p class="widgets-sidebar__title"><%= embedded_svg('icons/picture.svg', class: 'picture') %><span>Photos</span></p>


  <!-- show only last 8 pictures -->
  <ul class="widgets-sidebar__items">

    <li class="widgets-sidebar__item widgets-sidebar__item--ispicture">
      <a href="#" class="widgets-sidebar__picture ispicture">
        <%= image_tag("default_picture.png") %>
      </a>
    </li>

    <li class="widgets-sidebar__item widgets-sidebar__item--ispicture">
      <a href="#" class="widgets-sidebar__picture ispicture">
        <%= image_tag("default_picture.png") %>
      </a>
    </li>

    <li class="widgets-sidebar__item widgets-sidebar__item--ispicture">
      <a href="#" class="widgets-sidebar__picture ispicture">
        <%= image_tag("default_picture.png") %>
      </a>
    </li>

    <li class="widgets-sidebar__item widgets-sidebar__item--ispicture">
      <a href="#" class="widgets-sidebar__picture ispicture">
        <%= image_tag("default_picture.png") %>
      </a>
    </li>

    <li class="widgets-sidebar__item widgets-sidebar__item--ispicture">
      <a href="#" class="widgets-sidebar__picture ispicture">
        <%= image_tag("default_picture.png") %>
      </a>
    </li>

    <li class="widgets-sidebar__item widgets-sidebar__item--ispicture">
      <a href="#" class="widgets-sidebar__picture ispicture">
        <%= image_tag("default_picture.png") %>
      </a>
    </li>

    <li class="widgets-sidebar__item widgets-sidebar__item--ispicture">
      <a href="#" class="widgets-sidebar__picture ispicture">
        <%= image_tag("default_picture.png") %>
      </a>
    </li>

    <li class="widgets-sidebar__item widgets-sidebar__item--ispicture">
      <a href="#" class="widgets-sidebar__picture ispicture">
        <%= image_tag("default_picture.png") %>
      </a>
    </li>

  </ul>

</section>
