<section class="suggestions">
	<h3 class="suggestions__title">Tilters that might interest you</h3>
	<ul>
		<li class="suggestions__item">
				<%= image_tag("default_avatar.png", class:'suggestions__profile-picture') %>
				<p><a href="#"><strong>Tom Bonnike</strong> @tombon...</a></p>
				<button class="follow-circle follow-circle--add">
					<%= embedded_svg('icons/add.svg', class: 'follow-circle__icon') %>
					<%= embedded_svg('icons/checkbox.svg', class: 'follow-circle__icon') %>
				</button>
				<button class="suggestions__remove">
					<%= embedded_svg('icons/close.svg') %>
				</button>
			</a>
		</li>
		<li class="suggestions__item">
				<%= image_tag("default_avatar.png", class:'suggestions__profile-picture') %>
				<p><a href="#"><strong>Tom Bonnike</strong> @tombon...</a></p>
				<button class="follow-circle follow-circle--add">
					<%= embedded_svg('icons/add.svg', class: 'follow-circle__icon') %>
					<%= embedded_svg('icons/checkbox.svg', class: 'follow-circle__icon') %>
				</button>
				<button class="suggestions__remove">
					<%= embedded_svg('icons/close.svg') %>
				</button>
			</a>
		</li>
		<li class="suggestions__item">
				<%= image_tag("default_avatar.png", class:'suggestions__profile-picture') %>
				<p><a href="#"><strong>Tom Bonnike</strong> @tombon...</a></p>
				<button class="follow-circle follow-circle--add">
					<%= embedded_svg('icons/add.svg', class: 'follow-circle__icon') %>
					<%= embedded_svg('icons/checkbox.svg', class: 'follow-circle__icon') %>
				</button>
				<button class="suggestions__remove">
					<%= embedded_svg('icons/close.svg') %>
				</button>
			</a>
		</li>
		<li class="suggestions__item">
				<%= image_tag("default_avatar.png", class:'suggestions__profile-picture') %>
				<p><a href="#"><strong>Tom Bonnike</strong> @tombon...</a></p>
				<button class="follow-circle follow-circle--added">
					<%= embedded_svg('icons/add.svg', class: 'follow-circle__icon') %>
					<%= embedded_svg('icons/checkbox.svg', class: 'follow-circle__icon') %>
				</button>
				<button class="suggestions__remove">
					<%= embedded_svg('icons/close.svg') %>
				</button>
			</a>
		</li>
	</ul>
</section>