<section class="tilt">
  <%= link_to user_path(tilt.user) do %>
  	<div class="tilt__account">
  		<strong><%= tilt.user.display_name %></strong>
  		<span>
        @<%= tilt.user.username %> •
        <%= time_ago_in_words(tilt.created_at) %>
      </span>
  	</div>
  <% end %>

  <%= link_to tilt_path(tilt) do %>
  	<div class="tilt__content">
      <%= tilt.content %>
  	</div>
  <% end %>

  <!-- <div class="tilt__picture">
		<%# image_tag("dummy-1.png") %>
	</div> -->

	<div class="tilt__actions">
		<div class="tilt__action tilt__action--reply">
			<%= embedded_svg('icons/reply.svg') %>
			<span><%= number_to_human(tilt.children.count) %></span>
		</div>

		<div class="tilt__action tilt__action--active">
			<%= embedded_svg('icons/retilt.svg') %>
			<span><%= number_to_human(tilt.retweets.count) %></span>
		</div>

		<div class="tilt__action">
			<%= embedded_svg('icons/strike.svg') %>
			<span><%= number_to_human(tilt.likes.count) %></span>
		</div>

    <!-- <div class="tilt__action tilt__action--more ">
			<%# embedded_svg('icons/more.svg') %>
			<%# render "components/submenu" %>
		</div> -->
	</div>
</section>
