<section class="tilt">
	<div class="tilt__account">
		<strong>Donald J. Trump</strong>
		<span>~realDonaldTrump  • 1m</span>
	</div>
	<div class="tilt__content">
		If there is anything I hate it’s the fact that <a href="#">~justinbieber</a> is aloud to sing….
	</div>
	<div class="tilt__picture">
		<%= image_tag("dummy-1.png") %>
	</div>
	<div class="tilt__actions">
		<div class="tilt__action">
			<%= embedded_svg('icons/reply.svg') %>
			<span>15K</span>
		</div>
		<div class="tilt__action tilt__action--active">
			<%= embedded_svg('icons/retilt.svg') %>
			<span>15K</span>
		</div>
		<div class="tilt__action">
			<%= embedded_svg('icons/strike.svg') %>
			<span>15K</span>
		</div>
		<div class="tilt__action tilt__action--more ">
			<%= embedded_svg('icons/more.svg') %>
			<%= render "components/submenu" %>
		</div>
	</div>
</section>