<div class="profiles">
  <%= render :layout => "components/profile-overview", locals: {class_small: 'profile-overview--small'} do %>
    <div class="profile-overview--top">
      <%= render "components/profile-overview-general" %>
    </div>
    <%= render "components/profile-overview-about" %>
  <% end %>

  <%= render :layout => "components/profile-overview", locals: {class_small: 'profile-overview--small'} do %>
    <div class="profile-overview--top">
      <%= render "components/profile-overview-general" %>
    </div>
    <%= render "components/profile-overview-about" %>
  <% end %>

  <%= render :layout => "components/profile-overview", locals: {class_small: 'profile-overview--small'} do %>
    <div class="profile-overview--top">
      <%= render "components/profile-overview-general" %>
    </div>
    <%= render "components/profile-overview-about" %>
  <% end %>

  <%= render :layout => "components/profile-overview", locals: {class_small: 'profile-overview--small'} do %>
    <div class="profile-overview--top">
      <%= render "components/profile-overview-general" %>
    </div>
    <%= render "components/profile-overview-about" %>
  <% end %>

  <%= render :layout => "components/profile-overview", locals: {class_small: 'profile-overview--small'} do %>
    <div class="profile-overview--top">
      <%= render "components/profile-overview-general" %>
    </div>
    <%= render "components/profile-overview-about" %>
  <% end %>

  <%= render :layout => "components/profile-overview", locals: {class_small: 'profile-overview--small'} do %>
    <div class="profile-overview--top">
      <%= render "components/profile-overview-general" %>
    </div>
    <%= render "components/profile-overview-about" %>
  <% end %>

  <%= render :layout => "components/profile-overview", locals: {class_small: 'profile-overview--small'} do %>
    <div class="profile-overview--top">
      <%= render "components/profile-overview-general" %>
    </div>
    <%= render "components/profile-overview-about" %>
  <% end %>

  <%= render :layout => "components/profile-overview", locals: {class_small: 'profile-overview--small'} do %>
    <div class="profile-overview--top">
      <%= render "components/profile-overview-general" %>
    </div>
    <%= render "components/profile-overview-about" %>
  <% end %>
</div>
