<div class="container layout">
  <%= render "components/sidebar-left" do %>
    <%= render "components/profile-overview" %>
    <%= render "components/trends" %>
  <% end %>

  <%= render "components/main-container" do %>
    <%= render "components/feed" %>
  <% end %>

  <%= render "components/sidebar-right" do %>
    <%= render "components/suggestions" %>
  <% end %>
</div>
