<div class="container layout">
  <%= render "components/sidebar-left" do %>
    <%= render :layout => "components/profile-overview", locals: {
      button_visible: 'buttons--isvisible'
    } do %>
      <div class="profile-overview--top">
        <%= render "components/profile-overview-general", user: @tilt.user %>
        <%= render "components/profile-overview-buttons" %>
      </div>
      <%= render "components/profile-overview-about", user: @tilt.user %>
    <% end %>
  <% end %>

  <%= render "components/main-container" do %>
    <%= render "components/feed-replies" %>
  <% end %>

  <%= render "components/sidebar-right" %>
</div>
