<!DOCTYPE html>
<html>
  <head>
    <title>Tilter - Tilt makes you free</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<%= render "components/header" %>

    <%= yield %>
  </body>
</html>
